@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@900&display=swap');

/* Jumbotron Styles */

.contain {
  width: 100%;
  margin: auto;
  max-width: 1600px;
}
.jumbotron {
  padding: 0;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  font-family: "Roboto";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered h1 {
  font-size: 6vw;
  padding-bottom: 2vw;
}

/* Instrument Gallery Styles */
.contain {
  background-color:#C2A83E;
}
.Instruments {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 40%;
  margin-bottom: 5vw;
}
.header {
  font-family: 'Roboto';
  padding-top: 2rem;
}
/* Testimonial Gallery Styles */
.Testimonials {
  display: flex;
}
.Testimonials .card {
  width: 50%;
}
.card-title {
  font-weight: bold;
}
.card {
  font-family: 'Monsterrat', sans-serif;
}
/* Other Styles */
.card .btn-outline-primary {
  border-color: #508991;
  color: #508991;
}
.card .btn-outline-primary:hover {
  background-color: #508991;
  color: white;
}
/* Responsive Experience Styles */
@media (min-width: 1600px) {
  .jumbotron h1 {
    font-size: 4rem;
  }
}
@media (max-width: 400px){
  .Instruments, .Testimonials {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .Testimonials .card {
    width: 100%;
    margin-bottom: 5vw;
  }
  .centered {
    display: flex;
    width: 90%;
  }
}
@media (max-width: 760px) and (min-width: 401px){
  .card{
    width: 50%;
  }
}
