@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@900&display=swap');

/* Jumbotron Styles */

.home {
  width: 100%;
  margin: auto;
  max-width: 1600px;
  background-color:#C2A83E;
}
.home .jumbotron {
  padding: 0;
  position: relative;
  text-align: center;
  color: white;
}
.home .centered {
  position: absolute;
  font-family: 'Roboto';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home .centered h1 {
  font-size: 6vw;
  font-weight: 700;
  padding-bottom: 2vw;
}

/* Instrument Gallery Styles */

.home .Instruments {
  display: flex;
  justify-content: space-between;
}
.home .card {
  width: 40%;
  margin-bottom: 5vw;
}
.header {
  font-family: 'Roboto';
  font-weight: 900;
  padding-top: 2rem;
}
/* Testimonial Gallery Styles */
.home .Testimonials {
  display: flex;
}
.home .Testimonials .card {
  width: 50%;
}
.home .card-title {
  font-weight: bold;
}
/* Other Styles */
.card .btn-outline-primary {
  font-family: 'Roboto', sans-serif;
  border-color: #508991;
  color: #508991;
}
.card .btn-outline-primary:hover {
  background-color: #508991;
  color: white;
}
/* Responsive Experience Styles */
@media (min-width: 1600px) {
  .home .jumbotron h1 {
    font-size: 4rem;
  }
}
@media (max-width: 400px){
  .home .Instruments, .home .Testimonials {
    flex-direction: column;
  }
  .home .card {
    width: 100%;
  }
  .home .Testimonials .card {
    width: 100%;
    margin-bottom: 5vw;
  }
  .home .centered {
    display: flex;
    width: 90%;
  }
}
@media (max-width: 760px) and (min-width: 401px){
  .card{
    width: 50%;
  }
}
